In [137]:
## Fresh FILE

### TAKE SCRAPPED DATA FOR COLLEGE GAMES CLEAN AND STANDARIZE, PREPARE TO GET WEATHER RESULTS FOR NO BOX SCORE GAMES

## Pathe to raw source data

path = '../data/stats/ncaa/ESPN_2016-2022_baseball_scrape.csv'

In [138]:
## Load Libraries
# import requests
# import json
import pandas as pd
import numpy as np
# import datetime
import re

from tqdm import tqdm

## Load Data
df = pd.read_csv(path)

In [139]:
# create a 'year' column from the 'date' column
df['year'] = pd.to_datetime(df['date']).dt.year


### Change the names in the scrape file to match the names in the venue file
### These are the replacements that need to be made
## Write the replacements to a dictionary
replacements = {'Ole Miss': 'University of Mississippi',
                'NC State': 'North Carolina State University',
                'Miami': 'University of Miami',
                'Florida International': 'Florida International University',
                'Hawai\'i': 'University of Hawaii, Manoa',
                'UL Monroe': 'University of Louisiana Monroe',
                'SE Louisiana': 'Southeastern Louisiana University',
                'UT Rio Grande Valley': 'The University of Texas Rio Grande Valley',
                'UMass': 'University of Massachusetts, Amherst',
                'Miami (OH)': 'Miami (Ohio)'}

## Replace the names in the df
df['home_team'].replace(replacements, inplace=True)
df['away_team'].replace(replacements, inplace=True)

## Drop unnessary / bad rows & columns
df = df.dropna(subset=['away_team_runs', 'home_team_runs']) # games with no score
df = df[df['game_id'].isna()] # has game_id - covered by other dataset
df.drop(columns=['game_id'], inplace=True) # Drop the game_id column

# Start assiginng specific locations to each game
# for rows with empty 'game_info' (ie. not neutral site games)
#  copy the 'home_team' column to a new column called 'venue'
df.loc[df['game_info'].isna(), 'venue'] = df['home_team']
df.loc[df['game_info'].notna(), 'venue'] = 'unknown'



# df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11839 entries, 0 to 13853
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              11839 non-null  object
 1   away_team         11839 non-null  object
 2   home_team         11839 non-null  object
 3   game_info         2316 non-null   object
 4   away_team_runs    11839 non-null  float64
 5   away_team_hits    11839 non-null  float64
 6   away_team_errors  11839 non-null  float64
 7   home_team_runs    11839 non-null  float64
 8   home_team_hits    11839 non-null  float64
 9   home_team_errors  11839 non-null  float64
 10  venue             11839 non-null  object
 11  year              11839 non-null  int64
dtypes: float64(6), int64(1), object(5)
memory usage: 1.4+ MB

In [141]:
## Dictionary to assign locations for specific games at nuetral sites

neutral_site_dict = {'SOUTHERN CONF TOURNAMENT AT GREENVILLE SC': 'Fluor Field Greenville, S.C.',
                     'BIG 12 TOURNAMENT AT OKLAHOMA CITY': 'Bricktown Ballpark',
                     'SOUTHLAND TOURNAMENT AT SUGAR LAND TX': 'Constellation Field',
                     'Big 12 Tournament (2022)': 'Globe Life Field Alrlington Texas',
                     'Big 12 Tournament (2021)': 'Bricktown Ballpark'}


## if a row has a value in game_info, fill the 'venue' coulm with 'unknown
df.loc[df['game_info'].notna(), 'venue'] = 'unknown'
## Apply the dictionary to the game_info column and copy to venue column
df['n_venue'] = df['game_info'].map(neutral_site_dict).fillna(df['venue'])


## Deal witht he Games from the NCAA Tournament
# Define a function to extract the city name from game_info for NCAA games and other specific cases
def extract_city(game_info):
    if pd.isnull(game_info):
        return None

    # If game_info contains "World Series", assign "Omaha"
    if "World Series" in game_info:
        return "Omaha"
    
    # If game_info contains "AT", extract the city name following "AT"
    if "AT" in game_info:
        match = re.search(r'AT (.+)', game_info)
        if match:
            return match.group(1).strip()

    if "NCAA" in game_info:
        # The regex pattern below assumes the city name is at the end of the string,
        # is preceded by a dash and space, and does not contain any digits
        # Also account for "Super Regional" by making " Super" optional in the pattern
        pattern = r'– ([^-0-9]+) Super? Regional'
        match = re.search(pattern, game_info)
        if match:
            return match.group(1).strip()

    return None

# Apply the function to the game_info column and update the 'n_venue' column
df['n_venue'] = df['game_info'].apply(extract_city)



# If the n_venue column is not null, copy its value to the venue column
# df.loc[df['n_venue'].notna(), 'venue'] = df['n_venue']

# Display rows where n_venue is not null
# df[df['n_venue'].notna()]

In [142]:
## open the csv file that has venues for neutral site games
neutral_site_venues = pd.read_csv('../data/stats/ncaa/neutral_site_dict_clean.csv')

neutral_site_venues.info()

## Compare the game_info column and year to the main df 'df' - copy the n_venue column to the n_venue column in df if both match
df = df.merge(neutral_site_venues, how='left', left_on=['game_info', 'year'], right_on=['game_info', 'year'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   game_info  413 non-null    object
 1   year       413 non-null    int64
 2   n_venue    281 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.8+ KB

In [143]:
df.head()

## Check for game info
df['n_venue_x'].value_counts()
# df['n_venue_y'].value_counts()

## create dataframe of unique values in the n_venue_x & n_venue_y columns
n_venue_x = pd.DataFrame(df['n_venue_x'].unique(), columns=['n_venue_x'])
n_venue_y = pd.DataFrame(df['n_venue_y'].unique(), columns=['n_venue_y'])

## Merge the two dataframes
n_venue = n_venue_x.merge(n_venue_y, how='outer', left_on='n_venue_x', right_on='n_venue_y')

n_venue.info()

# output csv to manually clean up the n_venue column
n_venue.to_csv('../data/stats/ncaa/TEMP/n_venue.csv', index=False)

# df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 0 to 165
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   n_venue_x  75 non-null     object
 1   n_venue_y  90 non-null     object
dtypes: object(2)
memory usage: 3.9+ KB

In [144]:
# venue_df.head()

venue_df = pd.read_csv('../data/stats/ncaa/NCAA_Venues_With_Coords_and_Elevation.csv')

## Do a fuzzymatch on the 'team' column to get the team name from the venue_df and the home_team column
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

## Create a list of all of the teams in the venue_df
venue_teams = list(venue_df['team'].unique())

## Create a list of all of the teams in the df_simple
simple_teams = list(df['venue'].unique())

## Do a match and store the results in a dataframe
matches = pd.DataFrame(columns=['team', 'venue_team', 'score'])

for team in simple_teams:
    match = process.extractOne(team, venue_teams)
    new_row = pd.DataFrame({'team': [team], 'venue_team': [match[0]], 'score': [match[1]]})
    matches = pd.concat([matches, new_row], ignore_index=True)


## If the match score is 91 or graeter, merge the Stadium, City, State, Confference, Capacity, Opened columns to the df_simple

## Create a list of the teams that matched with a score of 90 or greater
matched_teams = list(matches[matches['score'] >= 91]['team'])

## Create a dataframe with a the matched teams and their data from the venue_df
matched_venues = venue_df[venue_df['team'].isin(matched_teams)]

## how many teams matched from the simple_teams list, show list of teams that did not find good match
print(f'{len(matched_teams)} of {len(simple_teams)} teams matched')

## Show the teams that did not match
print(f'Teams that did not match: {list(set(simple_teams) - set(matched_teams))}')

# matched_venues.head()

239 of 245 teams matched
Teams that did not match: ['Furman', 'North Carolina Central', 'The University of Texas Rio Grande Valley', 'unknown', 'Long Island University', 'South Carolina Upstate']

,image,venue,city,state,team,conference,capacity,opened,ref,latitude,longitude,elevation
2,NaN,Conaty Park,Smithfield,RI,Bryant,America East,500,2012,NaN,41.925608,-71.538564,124.194191
5,NaN,Edward A. LeLacheur Park,Lowell,MA,UMass Lowell,America East,4767,1998,[5],42.653611,-71.317830,23.752888
6,NaN,The Baseball Factory Field at UMBC,Catonsville,MD,UMBC,America East,1000,N/A(Renovated 2004),[6],39.249584,-76.708579,42.054276
7,NaN,Robert and Mariam Hayes Stadium,Charlotte,NC,Charlotte,The American,4100,1994,NaN,35.308115,-80.739064,185.097443
8,NaN,Clark–LeClair Stadium,Greenville,NC,East Carolina,The American,5000,2005,NaN,35.592951,-77.367141,18.561735

In [145]:
## Copy the venue's latitude, longitude, and elevation to the df

df = df.merge(matched_venues[['team', 'latitude', 'longitude', 'elevation']], how='left', left_on='home_team', right_on='team')

In [146]:
## HoT FIX 
## if a row has a value in game_info, clear the values from the latitude, longitude, and elevation columns
df.loc[df['game_info'].notna(), ['latitude', 'longitude', 'elevation']] = np.nan

In [148]:
### BLOCK OUTPUTS GROUPS OF GAMES THA NEED TO BE MANUELLY CHECKED /FIXED

# ## Reurn rows with game_info not null and n_venue null
# df_look = df[df['game_info'].notna() & df['n_venue'].isna()]

# ## Group by the game_info column and year and count the number of rows
# df_look.groupby(['game_info', 'year']).count()

# ## Output csv for manual inspection
# df_look.groupby(['game_info', 'year']).count().to_csv('../data/stats/ncaa/TEMP/venue_value_counts.csv')

# ## Print a the value list of the game_info column for the above teams
# # df_look['game_info'].value_counts()

# # write the value counts to a csv for manual inspection
# # df_look['game_info'].value_counts().to_csv('../data/stats/ncaa/TEMP/venue_value_counts.csv')

# # # histogram of the game info value counts
# # df_look['game_info'].value_counts().plot(kind='bar')

# # ## Decribe the game_info column
# # df_look['game_info'].describe()

In [149]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11851 entries, 0 to 11850
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              11851 non-null  object
 1   away_team         11851 non-null  object
 2   home_team         11851 non-null  object
 3   game_info         2320 non-null   object
 4   away_team_runs    11851 non-null  float64
 5   away_team_hits    11851 non-null  float64
 6   away_team_errors  11851 non-null  float64
 7   home_team_runs    11851 non-null  float64
 8   home_team_hits    11851 non-null  float64
 9   home_team_errors  11851 non-null  float64
 10  venue             11851 non-null  object
 11  year              11851 non-null  int64
 12  n_venue_x         707 non-null    object
 13  n_venue_y         1291 non-null   object
 14  team              11529 non-null  object
 15  latitude          9508 non-null   float64
 16  longitude         9508 non-null   float64
 17  elevation         9508 non-null   float64
dtypes: float64(9), int64(1), object(8)
memory usage: 1.7+ MB

In [151]:
from tqdm import tqdm

## Query for tesring n_venue_x
def construct_query(city_name, api_key='AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA'):
    base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    query = f"{city_name} ncaa baseball host stadium"
    url = f"{base_url}?query={query}&key={api_key}"
    return url
unique_venues = df['n_venue_x'].unique()

api_urls = [construct_query(venue) for venue in unique_venues]



import requests
def get_top_three_places(url):
    response = requests.get(url)
    data = response.json()

    # Get the top three results
    top_three = data['results'][:3]

    # Extract the name, place_id, latitude, and longitude for each result
    places = {place['name']: (place['place_id'], place['geometry']['location']['lat'], place['geometry']['location']['lng']) for place in top_three}
    
    return places

top_three_places = [get_top_three_places(url) for url in tqdm(api_urls)]

# Create a dataframe from the top_three_places list and add the venue name and a set of lat and lng coordinates 
# to the dataframe
top_three_df = pd.DataFrame(top_three_places)

## BREAK TO OUTPUT CSV FOR MANUAL INSPECTION
top_three_df.to_csv('../data/stats/ncaa/TEMP/top_three_places_v2.csv', index=False)

100%|██████████| 76/76 [00:34<00:00,  2.19it/s]

In [152]:
flattened_places = []
for venue, places in zip(unique_venues, top_three_places):
    for place, details in places.items():
        place_id, lat, lng = details
        flattened_places.append({'n_venue_x': venue, 'place': place, 'lat': lat, 'lng': lng})

places_df = pd.DataFrame(flattened_places)
places_df['lat_lng'] = places_df[['lat', 'lng']].apply(tuple, axis=1)

In [155]:
## merge the places_df with the original df
df = df.merge(places_df, how='left', left_on='n_venue_x', right_on='n_venue_x')

## Clean up the columns in the df
## copy lat and lng to latitude and longitude, do not overwrite the values that were copied from the venue_df
df.loc[df['latitude'].isna(), 'latitude'] = df['lat']
df.loc[df['longitude'].isna(), 'longitude'] = df['lng']

## Drop the lat, lng, and lat_lng columns
df.drop(columns=['lat', 'lng', 'lat_lng'], inplace=True)

# df.info()

In [157]:
## for row with place copy the value to the N_venue_x column overwriting the value that was there
df.loc[df['place'].notna(), 'n_venue_x'] = df['place']
# drop the 'team' column
df.drop(columns=['team'], inplace=True)
# rename some columns 
dict = {'venue': 'campus_site', 
        'n_venue_x': 'n_venue_1', 
        'n_venue_y': 'n_venue_2'}

# use dictionary to rename the columns
df.rename(columns=dict, inplace=True)

## combine the n_venue_1 and n_venue_2 columns into a single column
df['n_venue'] = df['n_venue_1'].fillna(df['n_venue_2'])

# Drop the n_venue_1 and n_venue_2 columns
df.drop(columns=['n_venue_1', 'n_venue_2'], inplace=True)

In [158]:
df.info()

## Show me the rows that have a no latitud or longitude
# df[df['latitude'].isna() | df['longitude'].isna()]

df.head()

# print(len(df))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12714 entries, 0 to 12713
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              12714 non-null  object
 1   away_team         12714 non-null  object
 2   home_team         12714 non-null  object
 3   game_info         3183 non-null   object
 4   away_team_runs    12714 non-null  float64
 5   away_team_hits    12714 non-null  float64
 6   away_team_errors  12714 non-null  float64
 7   home_team_runs    12714 non-null  float64
 8   home_team_hits    12714 non-null  float64
 9   home_team_errors  12714 non-null  float64
 10  campus_site       12714 non-null  object
 11  year              12714 non-null  int64
 12  team              12313 non-null  object
 13  latitude          10975 non-null  float64
 14  longitude         10975 non-null  float64
 15  elevation         9508 non-null   float64
 16  place             1467 non-null   object
 17  n_venue           2861 non-null   object
dtypes: float64(9), int64(1), object(8)
memory usage: 2.3+ MB

,date,away_team,home_team,game_info,away_team_runs,away_team_hits,away_team_errors,home_team_runs,home_team_hits,home_team_errors,campus_site,year,team,latitude,longitude,elevation,place,n_venue
0,2016-02-19,Oklahoma State,UT Arlington,Texas Arlington Tournament,2.0,7.0,1.0,3.0,7.0,1.0,unknown,2016,UT Arlington,NaN,NaN,NaN,NaN,NaN
1,2016-02-19,Seton Hall,Missouri,AT FORT MYERS FL,0.0,4.0,1.0,7.0,12.0,0.0,unknown,2016,Missouri,26.634254,-81.867859,NaN,City of Palms Park,City of Palms Park
2,2016-02-19,Seton Hall,Missouri,AT FORT MYERS FL,0.0,4.0,1.0,7.0,12.0,0.0,unknown,2016,Missouri,26.551258,-81.761830,NaN,JetBlue Park,JetBlue Park
3,2016-02-19,Seton Hall,Missouri,AT FORT MYERS FL,0.0,4.0,1.0,7.0,12.0,0.0,unknown,2016,Missouri,26.537668,-81.842247,NaN,Hammond Stadium,Hammond Stadium
4,2016-02-19,SIU Edwardsville,Louisville,NaN,4.0,8.0,2.0,21.0,17.0,1.0,Louisville,2016,Louisville,38.205516,-85.762865,140.286621,NaN,NaN

In [160]:
### OUTPUT CSV READY TO SEND TO WEATHER API FOR WEATHER DATA
df.to_csv('../data/stats/ncaa/no_boxscore_data_v1.csv', index=False)

### below this is code for the games scrapped with extensive box scores

THis data include a specific date time so weather was pulled for time of first pitch

Data should be clean and complete

Code below is added as a double check

In [ ]:
## Dependcies BSETUP BLOCK 

# Dependencies
import pandas as pd

df_2 = pd.read_csv('../data/stats/ncaa/boxscore_data_v1.csv')

In [ ]:
## Print report



df_2.describe()

df_2.head()

# df_2.info()

,location,date,time,team_1,team_2,runs_1,hits_1,errors_1,home_runs_1,runs_2,hits_2,errors_2,home_runs_2,home_runs,year,datetime,unix_timestamp,latitude,longitude,weather_data
0,Florida Ballpark at Alfred A. McKethan Field,June 3,1:00 PM,Liberty Flames,Oklahoma Sooners,3,10,2,0,16,17,0,3,3.0,2022,2022-06-03 13:00:00,1654261200,27.664827,-81.515754,"{'lat': 27.6648, 'lon': -81.5158, 'timezone': ..."
1,Baum-Walker Stadium,June 2,8:00 PM,Arkansas Razorbacks,Southern Miss Golden Eagles,10,13,1,2,2,5,1,1,3.0,2018,2018-06-02 20:00:00,1527969600,36.049888,-94.182241,"{'lat': 36.0499, 'lon': -94.1822, 'timezone': ..."
2,Jack Coombs Field,May 12,6:00 PM,Georgia Tech Yellow Jackets,Duke Blue Devils,8,9,1,3,5,10,0,1,4.0,2023,2023-05-12 18:00:00,1683914400,35.998086,-78.944236,"{'lat': 35.9981, 'lon': -78.9442, 'timezone': ..."
3,Hawkins Field,April 28,7:00 PM,Kentucky Wildcats,Vanderbilt Commodores,4,6,0,0,6,9,0,1,1.0,2023,2023-04-28 19:00:00,1682708400,36.143398,-86.807393,"{'lat': 36.1434, 'lon': -86.8074, 'timezone': ..."
4,Hawkins Field,April 11,7:00 PM,North Alabama Lions,Vanderbilt Commodores,2,2,1,0,14,13,1,0,0.0,2023,2023-04-11 19:00:00,1681239600,36.143398,-86.807393,"{'lat': 36.1434, 'lon': -86.8074, 'timezone': ..."